.progress-bar {
  transition: width 0.4s ease, background-color 0.4s ease;
}

.list-group-item {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.badge {
  transition: background-color 0.3s ease;
}
#rulesBox {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#rulesBox.show {
  display: block;
  opacity: 1;
}



.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical centering */
  align-items: center;     /* Horizontal centering */
  height: 100vh;
  background: #f0f0f0;
}